body{
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}
header{
    background-color: rgb(212, 183, 240);
}
footer{
    background-color: rgb(212, 183, 240);
}
.site-title{
    color:purple;
}
#my-image{
    box-shadow: 0px 0px 2px 1px black;
    
    

}
.a{
    list-style-type: square;
}
li:nth-child(odd){
    background-color: pink;
}
a:link{
    text-decoration: none;
    background-color:rgb(169, 181, 192);
    border-style: solid;
}
a:hover{
    background-color: lime;
}