body{
    background-color:rgb(174, 216, 212)

}
body{
    font-family:Arial, Helvetica, sans-serif;
}
.site-text{
    color: azure;
    
}
.site-text{
    text-align: center;
}
body{
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 20px;
    
    
}